<!DOCTYPE html>
<html lang="en">

<head>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	{{ partial "favicon" .}}


	<!-- Google Fonts -->
	<link href="https://fonts.googleapis.com/css?family=Arapey|Fjalla+One" rel="stylesheet">
	<!-- CSS Reset -->
	<!-- <link rel="stylesheet" href="//cdn.rawgit.com/necolas/normalize.css/master/normalize.css"> -->

	<!-- Milligram CSS minified -->
	<!-- <link rel="stylesheet" href="//cdn.rawgit.com/milligram/milligram/master/dist/milligram.min.css"> -->

	<!-- You should properly set the path from the main file. -->

	<link rel="stylesheet" href="/css/main.css" />



</head>

<body>

	<div id="svgContainer"></div>
