<div class="main" id="fullpage">

	<section class="section background inverted">
		<div class="fp-bg" style="background-image: url(assets/img/3L-original.jpg)"></div>
		<div class="content-wrapper">
			<div class="container">
				<h1 class="content-title">
			    DISCOVER DAILY.<br />
			    BE FIRST.<br />
			    BE UNIQUE.
			  </h1>
			</div>
		</div>
	</section>

	<section class="section background inverted">
		<div class="fp-bg" style="background-image: url(assets/img/casino_vernier1-original.jpg)"></div>
		<div class="content-wrapper ">
			<div class="container">
				<h1 class="content-title">
        INSPIRED <br />
        BY OUR HERITAGE
			</h1>
			</div>
		</div>
	</section>

	<section class="section background inverted">
		<div class="fp-bg" style="background-image: url(assets/img/tools-1083796-original.jpg)"></div>
		<div class="content-wrapper">
			<div class="container">
				<h1 class="content-title">
				HAND MADE<br />
				IN ITALY<br />
				WITH FINEST<br />
				MATERIALS<br />
			</h1>
			</div>
		</div>
	</section>
