<img	class="background-image" src='/assets/img/{{replace .imageName "." "-thumbnail." }}' data-normal="/assets/img/{{replace .imageName "." "-original." }}"
			data-retina="/assets/img/{{replace .imageName "." "-retina." }}"
			data-srcset="	/assets/img/{{replace .imageName "." "-small." }} 320w,
										/assets/img/{{replace .imageName "." "-medium." }} 768w,
										/assets/img/{{replace .imageName "." "-large." }} 1024w,
										/assets/img/{{replace .imageName "." "-retina." }} 2x"
										>
