// ------------- NAVBAR ------------- //
#navigation {
	height: 320px;
	position: fixed;
	z-index: 1;
	width: 100%;
	background-color: white;

	.navbar-brand{
		text-align: center;
		// margin-top: 80px;
		// margin-bottom: 80px;
		margin: 80px auto;

		@media only screen and (max-width: 480px){
			max-width: 100%;
		}
	}


	svg.logo {
		fill: black;
		height: 115px;
	}

	svg.side-logo{
		width: 100px;
		height: 71px;
		margin-top: -10px;
		margin-left: -500px;
		position: absolute;
		transition: all .7s ease-in-out;
	}

	.nav-item{
		text-align: center;

		a {
			color: #000;
			text-transform: uppercase;
			font-family: 'Fjalla One', sans-serif;
			font-weight: bold;
		}
	}
	transition: all .5s;
	&.small{
		//height: 80px;
		margin-top: -260px;

		svg.side-logo{
			margin-left: -10px;
		}

	}

	&.temporary{
		height: 260px;
		&.small{
		}
	}
}


.arrow-down{
	position: fixed;
	text-align: right;
	height: 50px;
	bottom: 50px;
	width: 100%;
	z-index: 2;

	svg.icon {
		fill: black;
		height: 50px;
		width: 50px;
		position: relative;
		transition: all .2s;
	}
}
