//colors
$cyan: #34BCEF;
$magenta: #E0107C;
$dark-gray: #3F4346;
$light-gray: #EFEFEF;
$white: #fff;
$rat: #9B928C;
$navbar-height: 70px;
@import url(https://fonts.googleapis.com/css?family=Arapey|Fjalla+One);
@import "../node_modules/fullpage.js/dist/jquery.fullpage.min.css";

@import "./navigation.scss";
@import "./fonts.scss";
@import "./inverted.scss";

.main,
body,
html {
	height: 100%;
	position: relative;
	font-family: 'Arapey', serif;
}

.fp-bg {
	background-position: center;
	background-size: cover;
	height: 100%;
}

.section {
	height: 100%;

	.content-wrapper {
		height: 100%;
		padding: 0;

		.content-title {
			font-size: 45px;
			line-height: 1.2;
			bottom: 50px;
			margin: 0;
			position: absolute;
			color: black;
			text-align: left;
		}
	}

	.content {
		width: 100%;
	}

	&.slide-header {
		//background-color: white;
		height: 100%;

		.content {
			position: absolute;
			top: 50%;
			background-color: transparent;

			.title {
				color: black;

				h2 {
					font-size: 140px;
					text-align: center;
					transform: all .5s;
				}
			}
		}
	}

	&.slide-with-text-and-image {
		background-color: white;

		.content {
			bottom: 0;
			background-color: white;
			position: absolute;
			width: 100%;
			height: 50%;

			.two-columns {
				column-count: 2;
			}

			.one-columns {
				max-width: 70%;
				margin: auto;
			}
		}
	}

	&.slide-with-text-only {
		background-color: white;

		h1 {
			margin-bottom: 100px;
		}
	}

	&.slide-with-multiple-columns {}
}

.material-list {
	margin: auto;
	padding: 0;

	li.material {
		display: inline-block;
		background-color: black;
		list-style: none;
		width: 50px;
		height: 50px;
	}
}

.footer{
	.footer-wrapper{
		background-color: black;
		height: 320px;
	}
}


//this is for masonry
/* fluid 3 columns */
.grid-sizer,
.grid-item { width: 33%; padding: 2px; }
/* 2 columns */
.grid-item--width2 { width: 66%; }
