//colors
$cyan: #34BCEF;
$magenta: #E0107C;
$dark-gray: #3F4346;
$light-gray: #EFEFEF;
$white: #fff;
$rat: #9B928C;
$navbar-height: 70px;
@import url(https://fonts.googleapis.com/css?family=Arapey|Fjalla+One);

@import "../node_modules/fullpage.js/dist/jquery.fullpage.min.css";
// ------------- NAVBAR ------------- //
#navigation {
	height: 320px;
	position: fixed;
	z-index: 1;
	width: 100%;
	background-color: white;

	.navbar-brand{
		text-align: center;
		margin-top: 80px;
		margin-bottom: 80px;
	}

	svg.logo {
		fill: black;
		height: 115px;
	}
	.nav-item{
		text-align: center;

		a {
			color: #000;
			text-transform: uppercase;
			font-family: 'Fjalla One', sans-serif;
			font-weight: bold;
		}
	}
	transition: all .5s;
	&.small{
		//height: 80px;
		margin-top: -260px;
	}
}


h1,
h2,
h3,
h4,
h5 {
	font-family: 'Fjalla One', sans-serif;
	text-align: center;
	text-transform: uppercase;
	font-weight: bold;
}

a:focus,
a:hover {
	text-decoration: none;
}

p{
	margin: 0px;
	text-align: justify;
	font-family: 'Arapey', serif;

}
.fp-bg{
	background-position: center;
	background-size: cover;
	height: 100%;
}

body , html , .main{
	height: 100%;
	position: relative;
	font-family: 'Arapey', serif;

}


.section{
	height: 100%;

	.content-wrapper{
		height: 100%;
		padding: 0px;
		.content-title {
			font-size: 45px;
			line-height: 1.2;
			bottom: 50px;
			margin: 0;
			position: absolute;
			color: white;
			text-align: left;
		}
	}
	.content{
		bottom: 0;
		background-color: white;
		position: absolute;
		width: 100%;
	}

	&.slide-header{
		//background-color: white;
		height: 100%;

		.content{
			position: absolute;
			top: 50%;
			background-color: transparent;

			.title{
				color: white;
				h2{
				font-size: 140px;
				}
			}
		}



	}

	&.slide-with-text-and-image{
		background-color: white;
		.content{
			height: 50%;
			.two-columns{
				column-count: 2;
			}
			.one-columns{
				max-width: 70%;
				margin: auto
			}
		}
	}
	&.slide-with-text-only{
		background-color: white;
		padding-top: 100px;
		.content{
			height: 100%;

		}
	}
}

.material-list{
	margin: auto;
	padding: 0px;
	li.material{
		display: inline-block;
		background-color: black;
		list-style: none;
		width: 50px;
		height: 50px;
	}
}

/* fluid 3 columns */
.grid-sizer,
.grid-item { width: 33%; padding: 2px; }
/* 2 columns */
.grid-item--width2 { width: 66%; }
