//colors
$cyan: #34BCEF;
$magenta: #E0107C;
$dark-gray: #3F4346;
$light-gray: #EFEFEF;
$white: #fff;
$rat: #9B928C;
$navbar-height: 70px;
@import url(https://fonts.googleapis.com/css?family=Asap|Open+Sans);
@import "../node_modules/fullpage.js/dist/jquery.fullpage.min.css";
// ------------- NAVBAR ------------- //
#navigation {
	    padding-top: 40px;
	.navbar-brand{
		margin-top: -40px;
	}

	svg.logo {
		width: 80px;
		height: 80px;

		use {
			fill: black;
			height: 80px;
		}
	}

	.navbar-nav {
		a {
			color: #000;
			text-transform: uppercase;
			font-family: Asap;
			font-weight: bold;
		}
	}
}


h1,
h2,
h3,
h4,
h5 {
	font-family: Asap;
	text-align: center;
	text-transform: uppercase;
	font-weight: bold;
}

a:focus,
a:hover {
	text-decoration: none;
}

p{
	margin: 0px;
	text-align: justify;
}
.fp-bg{
	background-position: center;
	background-size: cover;
	height: 100%;
}

body , html , .main{
	height: 100%;
	position: relative;
}

.section{
	height: 100%;

	.content-wrapper{
		height: 100%;
		.content-title {
			font-size: 45px;
			line-height: 1.2;
			bottom: 50px;
			margin: 0;
			position: absolute;
			left: 0;
			color: white;
		}
	}
	.content{
		bottom: 0;
		background-color: white;
		position: absolute;
		width: 100%;
	}

	&.slide-header{
		background-color: white;
		height: 100%;
		.content{
			height: 30%;
		}
	}

	&.slide-with-text-and-image{
		background-color: white;
		.content{
			height: 50%;
			.two-columns{
				column-count: 2;
			}
			.one-columns{
				max-width: 70%;
				margin: auto
			}
		}
	}
	&.slide-with-text-only{
		background-color: white;
		padding-top: 100px;
		.content{
			height: 100%;

		}
	}
}

.material-list{
	margin: auto;
	padding: 0px;
	li.material{
		display: inline-block;
		background-color: black;
		list-style: none;
		width: 50px;
		height: 50px;
	}
}

/* fluid 3 columns */
.grid-sizer,
.grid-item { width: 33%; padding: 2px; }
/* 2 columns */
.grid-item--width2 { width: 66%; }
