{{ partial "header.html" .}} {{ partial "nav.html" .}}

<div class="main" id="fullpage">

	{{ partial "slide_head" (dict "imageName" "spietrosmall.jpg" "title" "collection" ) }} {{ partial "section_with_img_only" (dict "imageName" "craft.jpg" ) }}


	<section class="section slide-with-text-only">
		<div class="container">
			<div class="row v-center">
				<div class="col span-6">
					<h1>Hidden Heritage</h1> By admiring Vesuvius’ towering profile through the columns of a Roman domus in ancient Pompeii; passing the thresholds of St. Peter’s Basilica in Rome; walking through the corridors by the Uffizi Gallery in Florence or crossing the Canal Grande
					on a gondola boat in Venice, we are reminded that the essence of beauty is hidden in the fundamental details, like the very land beneath our feet.
					<br> The capsule collection “Hidden heritage” was born for people who express their unconscious tastes and desires through accessories and niceties that define their eclectic style and the urge to be different, maintaining the formal nature of the
					status quo.
					<br> This is all in pursuit of a simple goal, to give shape to a high-quality, crafted artifact, that is unique and handmade by Italian artisans, using techniques that transform expertise into art, thus creating a classic, timeless, and functional
					object.
				</div>
			</div>
		</div>
	</section>

	<section class="section slide-with-text-and-image">
		{{ partial "fp-bg" (dict "imageName" "craft.jpg") }}
		<div class="content">
			<div class="container">
				<div class="row v-center">
					<div class="col span-6">
						<h1>SOFT TOUCH</h1> The backpack is made of velvety rubber coated fabric. Smooth and essential texture combined with waterproof capabilities. Closure is simple and comfortable thanks to four strong magnets woven inside the backpack structure.
					</div>
				</div>
			</div>
		</div>
	</section>

	<section class="section slide-with-text-and-image">
		{{ partial "fp-bg" (dict "imageName" "leather.jpg") }}
		<div class="content">
			<div class="container">
				<div class="row v-center">
					<div class="col span-6">
						<h1>LEATHER DETAILS</h1> Precious vegetable-tanned, live cut, calf leather is used for bottom, back strap and braces that diverge to fit the shoulder surface and can be adjusted in lenght. A handle in anti-slip leather offers an extra grip to hold the backpack.
					</div>
				</div>
			</div>
		</div>
	</section>

	<section class="section slide-with-text-and-image">
		{{ partial "fp-bg" (dict "imageName" "interno.jpg") }}
		<div class="content">
			<div class="container">
				<div class="row v-center">
					<div class="col span-6">
						<h1>LININGS</h1> Inside, the backpack is lined with motivs inspired by the cultural heritage forever embedded in the pavements of Italian churches, palaces and squares; patterns that have always been there to amaze eyes and souls of the sharp observants throughout the centuries.

					</div>
				</div>
			</div>
		</div>
	</section>


	<section class="section slide-with-multiple-columns">
		<div class="content">
			<div class="container">
				<div class="row">

					<div class="col span-3">
						<div class="img">
							{{ partial "picture" (dict "imageName" "interno.jpg" "class" "responsive-img " ) }}
						</div>
						<div class="paragraph">
							<h3>VENARIA</h3>
							At the gates of the city of Turin, at the foot of the Alps is the seventeenth-century palace of Venaria Reale, one of the most elegant residences of the Savoy kingdoms. From a detail of his magniloquent marble flooring we have drawn inspiration to develop this lining which has for this reason the typical Opus Scutulatum pattern of Roman origin.
						</div>
					</div>


					<div class="col span-3">
						<div class="img">
							{{ partial "picture" (dict "imageName" "interno.jpg" "class" "responsive-img " ) }}
						</div>
						<div class="paragraph">
							<h3>SAN MATTEO</h3>
							In a sunny town on the famous Amalfi Coast, founded by the Etruscans in the 6th century BC, stands the Cathedral of Salerno. Built between 1080 and 1085 AD. It houses two magnificent ambones donated by the Archbishops of the city, Romualdo Guarna and Niccolò d’Aiello. Aiello’s decorative mosaics were the starting point for developing a motif of Byzantine taste.
						</div>
					</div>


					<div class="col span-3">
						<div class="img">
							{{ partial "picture" (dict "imageName" "interno.jpg" "class" "responsive-img " ) }}
						</div>
						<div class="paragraph">
							<h3>CASINO VERNIER</h3>
							Between the Rialto Bridge and St. Marco square in Venice, near the Bareteri Bridge, there is the Casino Venier, a venue once dedicated to parties and gambling, but also a literary lounge. Inside, there are valuable marble floors dating back to the 18th century. From these stunning geometric patterns, we developed our motivs.
						</div>
					</div>


					<div class="col span-3">
						<div class="img">
							{{ partial "picture" (dict "imageName" "interno.jpg" "class" "responsive-img " ) }}
						</div>
						<div class="paragraph">
							<h3>SAN MARCO</h3>
							From his first consecration in 832 AD To the present day, the Basilica of San Marco remains one of the symbols of the city of Venice. Among the dozens of marble floors inside, we were inspired by the figure of the starred dodecahedron attributed to Paolo Uccello, a Florentine painter who lived in Venice between 1425 and 1430 AD.
						</div>
					</div>

				</div>
			</div>
		</div>
	</section>





	{{partial "footer.html" .}}
