<div class="container">
  <section class="background" style="background-image: url(../img/IMG_0836.jpg)">
    <div class="content-wrapper">
      <p class="content-title">
        DISCOVER DAILY.<br />
        BE FIRST.<br />
        BE UNIQUE.
      </p>
    </div>
  </section>
  <section class="background" style="background-image: url(../img/casino_vernier1.jpg)">
    <div class="content-wrapper">
      <p class="content-title">
        INSPIRED <br />
        BY OUR HERITAGE
      </p>
    </div>
  </section>
  <section class="background" style="background-image: url(../img/tools-1083796.jpg)">
    <div class="content-wrapper">
      <p class="content-title">
        HAND MADE<br />
        IN ITALY<br />
        WITH FINEST<br />
        MATERIALS<br />
      </p>
    </div>
  </section>
</div>
